@import "bootstrap/bootstrap.scss";
@import "typography";
@import "form";

$break-small: 320px;

body {
	background: #f8f8ff;
	z-index: 0;
	position:relative;
}

.main-header {
	z-index: -1;
	height: 600px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(-134deg, #FFB6B6 0%, #600070 100%),
					  url('../img/backgroundimg.jpg');
	@media screen and (max-width: $break-small) {
	  height: 400px; 
	}
	.main-header--title {
		z-index: 200;
		color: rgba(255, 255, 255, 0.89);
		text-align: center;
		.btn-outline-light:hover {
			color: #000;
		}
	} 
}


#signup--page {
		color: white;
		z-index: -1;
		height: 100vh;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: linear-gradient(-134deg, #FFB6B6 0%, #600070 100%),
					  url('../img/backgroundimg.jpg');


	.list-group {
		.list-group-item{
			background: transparent;
			border-color: rgba(255,255,255, 0.79);
		}
	}
}


input#honeypot {
  display: none; /*makes the field not visible to humans*/
}

#intro {
	padding-left: 5px;
	padding-right: 5px;
}

#intro .container {
	z-index: 200;
	margin-top: -100px;
	padding: 3em 2em;
	background: #F9F9F9;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20);
	border-radius: 4px;
	color: rgba(35,35,35,0.89);
	@media screen and (max-width: $break-small) {
	  padding: 2em 1em; 
	}
	h3 {
		text-align: center;
		margin: 0 0 1em;
	}
}

#sports {
	padding-top: 100px;
	margin-top: 100px;
	min-height: 600px;
	background: linear-gradient(195deg, #f8f8ff 50%, #F2F2FF 50%);
	.sports--header {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 280px;
			height: 5px;
			margin: 20px auto; 
			background-image: linear-gradient(43deg, #008452 0%, #17D48D 100%);
			border-radius: 100px;
		}
	}
}

#dining {
	margin-top: -20px;
	padding-top: 100px;
	min-height: 600px;
	background: linear-gradient(195deg, #F2F2FF 50%, #f8f8ff 50%);
	.dining--header {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 280px;
			height: 5px;
			margin: 20px auto; 
			background-image: linear-gradient(43deg, #9700FF 0%, #3B12FF 100%);
			border-radius: 100px;
		}
	}
}


/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  .scene_element--fadein {
    animation-name: fadeIn;
  }

  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }

  /** Reverse "exit" animations */
  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }
}